<% include header %>
    
    <div class="gn"><!--[ INICIO DA COLUNA LEFT ]-->

      <!-- #################################################################[ SIDEBAR-LEFT ] -->
          <% include sidebar-left %>
      <!-- #################################################################[ SIDEBAR-LEFT ] -->

    </div><!--[ FIM DA COLUNA LEFT ]-->

    <div class="gz"><!--[ INICIO DA COLUNA MAIN ]-->
      
      <ul class="ca qo anx">
        
        <!-- ################################################################[ INPUT MENSAGEM ]-->
        <li class="qf b aml">
          <form action="posts" method="post">
            <div class="input-group">
              <input type="text" class="form-control" name="content" placeholder="O que você está pensando?">
              <div class="fj">
                <button type="submit" class="cg fm">Publicar</button>
              </div>
            </div>
          </form>
        </li>
        <!-- ##################################################################[ INPUT MENSAGEM ]-->
        
        <!-- ################################################################[ POSTAGEM SIMPLES ]-->
        <% posts.forEach(function(post, index){ %>
            <li class="qf b aml">
            <div class="row">
                  <div class="col-md-12 text-right">
                    <a href="/posts/favoritos/<%= post._id %>" title="Favoritar" class="btn btn-default btn-xs">
                      <i class="fa fa-heart-o"></i></a>
                    <form action="/posts/<%= post._id %>" method="post" enctype="application/x-www-form-urlencoded">
                      <input type="hidden" name="_method" value="DELETE">
                      <button type="submit" class="btn btn-default btn-xs">
                        <i class="fa fa-trash-o"></i></button>
                    </form>
                  </div>
              </div>
              <a class="qj" href="#">
                <img
                  class="qh cu"
                  src="<%= post.photo %>">
              </a>
              <div class="qg">
                <div class="aoc">
                  <div class="qn">
                    <small class="eg dp">1 min</small>
                    <h5><strong><%= post.username %></strong></h5>
                  </div>
                  <p>
                    <%= post.content %>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-right">
                <small>Compartilhe &nbsp</small> 
                  <a href="#" title="Tweet esta postagem" class="btn btn-default btn-xs">
                    <i class="fa fa-twitter"></i></a>
                  <a href="#" title="Publique esta postagem" class="btn btn-default btn-xs">
                    <i class="fa fa-facebook"></i></a>
                </div>
              </div>
            </li>
        <%  }) %>

      </ul>
    </div><!--[ FIM DA COLUNA MAIN ]-->


    <div class="gn"><!--[ INICIO DA COLUNA RIGHT ]-->
      
      <!-- ##################################################################[ BOX-NOTIFICAÇÃO ]-->
        <% include box/box-notificacao %>
      <!-- ##################################################################[ BOX-NOTIFICAÇÃO ] -->
      
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2><strong>Sugestão </strong>de onda</h2>
            </div>
            
            <div class="panel-body">
              <div data-grid="images" data-target-height="150">
                <img class="qh" data-action="zoom" src="images/enem.jpg">
              </div>
                
              <p><strong>Enem 2015/2016</strong> Saiba mais sobre o Exame Nacional do Ensino Médio!</p>
              <button class="cg ts fx">Eu quero!</button>
            </div>
          </div>
        </div>
      </div>

      <!-- ##################################################################[ BOX-SOLICITA-AMIZADE ]-->
        <% include box/box-solicita-amizade %>
      <!-- ##################################################################[ BOX-SOLICITA-AMIZADE ] -->

    </div><!--[ FIM DA COLUNA RIGHT ]-->

<!-- #################################################################[ FOOTER ] -->
  <% include footer %>
<!-- #################################################################[ FOOTER ] -->

